<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spree_prototype.name %>
</p>


<%= link_to 'Edit', edit_spree_prototype_path(@spree_prototype) %> |
<%= link_to 'Back', spree_prototypes_path %>
