<ul class="nav-magazine">
	<li><a href="contractors">kontrachenci</a></li>
	<li><a href="/produkty">produkty</a></li>
	<li><a href="/pz">przyjecie towaru</a></li>
	<li><a href="/wz">wydanie towaru</a></li>
</ul>