<ul class="nav-modul nav-magazine">
	<li><a href="/products">specyfikacja</a></li>
	<li><a href="/#">zlecenia</a></li>
	<li><a href="/#">stany magazynowe</a></li>
	<li><a href="/#">kartoteki</a></li>
</ul>