<ul class="nav-modul nav-magazine">
	<li><a href="/contractors">kontrachenci</a></li>
	<li><a href="/products">produkty</a></li>
	<li><a href="/magazyn/pz">przyjecie towaru</a></li>
	<li><a href="/magazyn/wz">wydanie towaru</a></li>
</ul>