<% if user_signed_in? %>
<ul class="front-list">
	<li><a href="/magazyn"><i></i>Magazyn</a></li>
	<li><a href="/produkcja"><i></i>Produkcja</a></li>
	<li><a href="/e-sklep/admin"><i></i>Sklep-Admin</a></li>
	<li><a href="/kartoteki"><i></i>Kartoteki</a></li>
	<li><a href="/raporty"><i></i>Raporty</a></li>
	<li><a href="/administrator"><i></i>Administrator</a></li>	
</ul>

<% else %>
<h1>Trusk</h1>
<% end %>