<% if user_signed_in? %>
<!-- MAGAZYN -->
	<% case session[:modul]
         when 'zaopatrzenie' %>
         	<ul class="front-list">
				<li><a href="/contractors">kontrachenci</a></li>
				<li><a href="/products">produkty</a></li>
				<li><a href="/magazyn/pz">przyjecie towaru</a></li>
			</ul>
       <% when 'produkcja' %>
	       <ul class="front-list">
				<li><a href="/products">specyfikacja</a></li>
				<li><a href="/#">zlecenia</a></li>
				<li><a href="/#">stany magazynowe</a></li>
				<li><a href="/positions">stanowiska</a></li>
				<li><a href="/equipment">sptrzęt</a></li>
				<li><a href="/others">other</a></li>
			</ul>

        <% when 'sprzedaz' %>
          <ul class="front-list">
			<li><a href="/contractors">kontrachenci</a></li>
			<li><a href="/products">produkty</a></li>
			<li><a href="/magazyn/wz">wydanie towaru</a></li>
		</ul>
 	<%	else %>
 			<ul class="front-list">
 			<li><%= link_to "zaopatrzenie", modul_path('zaopatrzenie') %></li>
			<li><a href="/produkcja"><i></i>Produkcja</a></li>
			<li><a href="/sprzedaz"><i></i>Sprzedaz</a></li>
			<li><a href="/e-sklep/admin"><i></i>Sklep-Admin</a></li>	
		</ul>
      <% end %>

		
	
<!-- HOME -->
		

<% else %>
<h1>Trusk</h1>
<% end %>